// Navigation tool //
.nav-tool {
  // height: 115%;
  z-index: 3;
  position: relative;
  background-color: whitesmoke;
  grid-row: tool-start / tool-end;
  grid-column: content-start / content-end;

  display: flex;
  font-size: 1.5rem;
  padding: 0.4rem 3rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  color: rgba(88, 87, 87, 0.815);
  text-transform: uppercase;
  @include box-shadow;

  overflow: hidden;
  // color: #385998;
  &__active {
    width: 20rem;
    height: 2px;
    position: absolute;
    border-bottom: 4px solid #385998;
    top: 95%;
    left: 0.01%;
    // z-index: 2;
  }
  &__icon {
    font-size: 3rem;
    text-align: center;
    &-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 4rem;
      // padding: 0 12rem;

      &--active {
        // align-self: stretch;
        // background-color: rgb(0, 0, 0);

        color: #385998;
        // border-bottom: 4px solid #385998;
      }
    }
  }

  &__more {
    font-size: 1.5rem;
  }
  &__name {
    // margin-bottom: 13rem;
    text-align: center;
  }
}

// User Into //
.user-intro {
  @include box-shadow;
  background-color: whitesmoke;
  color: rgba(88, 87, 87, 0.815);
  grid-row: intro-start / intro-end;
  grid-column: sidebar-start / sidebar-end;
  padding: 2rem;
  border-radius: 4px;
  &__icon {
    font-size: 2.3rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: rgba(161, 157, 157, 0.815);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    margin-right: 1.5rem;
    // margin-bottom: 1.5rem;
    align-self: flex-end;

    &-box {
      display: flex;
      align-items: center;
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    &__header {
      margin-bottom: 2rem;
      align-self: flex-start;
    }
  }

  &__job {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    &--icon {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  &__location {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }

  &__update {
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #4680eb;
    cursor: pointer;
    &:hover {
      color: #2e5db3;
    }
  }
}

// User photo //
.user-photo {
  @include box-shadow;
  background-color: whitesmoke;
  grid-row: col-start 1 / col-end 1;
  grid-column: sidebar-start / sidebar-end;
  padding: 2rem;
  color: rgba(88, 87, 87, 0.815);
  border-radius: 4px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__more {
    font-size: 1.2rem;
  }
  &__icon {
    font-size: 2.3rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: rgba(161, 157, 157, 0.815);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    margin-right: 1.5rem;
    // margin-bottom: 1.5rem;
    align-self: flex-end;

    &-box {
      display: flex;
      align-items: center;
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }
  &__photos {
    display: grid;
    grid-template-rows: repeat(3, 33.33%);
    grid-template-columns: repeat(3, 33.33%);
    gap: 5px;

    & > * {
      width: 100%;
    }
  }
}

// User friends //

.user-friends {
  @include box-shadow;
  background-color: whitesmoke;
  grid-row: col-start 2 / col-end 2;
  grid-column: sidebar-start / sidebar-end;
  color: rgba(88, 87, 87, 0.815);
  padding: 2rem;
  &__header {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  &__title {
    margin-right: 2.4rem;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: rgba(88, 87, 87, 0.815);
      top: 1.3rem;
      right: -15px;
    }
  }

  &__icon {
    font-size: 2.3rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: rgba(161, 157, 157, 0.815);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    margin-right: 1.5rem;
    // margin-bottom: 1.5rem;
    align-self: flex-end;
  }
  &__photos {
    display: grid;
    grid-template-rows: repeat(3, 33.33%);
    grid-template-columns: repeat(3, 33.33%);
    gap: 5px;

    & > * {
      width: 100%;
    }
  }
}

// User timeline //
.user-timeLine {
  @include box-shadow;
  border-radius: 4px;
  background-color: whitesmoke;
  grid-row: intro-start / col-end 1;
  grid-column: content-start / content-end;
  // padding: 2rem;
  // display: grid;
  // grid-template-rows: ;

  ////// Header of the post ///////
  &__header {
    display: flex;
    // background-color: whitesmoke;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
    &-photo {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin-right: 1.5rem;
    }

    &-detail {
      // justify-self: flex-start;
      margin-right: auto;
    }

    &-activity {
      font-size: 1.5rem;
      font-weight: 600;
    }

    &-history {
      font-size: 1.2rem;
      color: rgba(88, 87, 87, 0.815);
      display: flex;
    }

    &-time {
      position: relative;
      margin-right: 1.5rem;
      &::after {
        content: "";
        background-color: rgba(88, 87, 87, 0.815);
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        position: absolute;
        top: 0.7rem;
        right: -1rem;
      }
    }

    &-more {
      color: rgba(88, 87, 87, 0.815);
      cursor: pointer;
      font-size: 1.5rem;
      margin-right: 2rem;
    }
  }

  ////// The post //////

  &__image {
    width: 100%;
    // margin-bottom: 1rem;
  }

  /////// Interact //////

  &__interact {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    &-box {
      display: flex;
      justify-content: center;
      align-items: center;
      // color: #4680eb;
      &--active {
        color: #4680eb;
      }
    }

    &--icon {
      color: rgba(161, 157, 157, 0.815);
      font-size: 2.5rem;
      margin-right: 1rem;
      cursor: pointer;
      &-active {
        color: #4680eb;
      }
    }

    &--quantity {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }

  ///Comment Section /////
  &__commentSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
    font-size: 1.3rem;
    &-otherImage {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin-right: 1.2rem;
    }

    &-header {
      display: flex;
      justify-content: space-between;
    }

    &-detail {
      margin-right: auto;
    }
    &-name {
      font-size: 1.5rem;
      font-weight: 600;
      text-decoration: none;
    }

    &-time {
      font-size: 1.2rem;
      margin-right: 2rem;
    }
  }

  &__userSection {
    display: flex;
    background-color: rgb(255, 255, 255);
    // justify-content: center;
    align-items: center;
    // margin-left: 2rem;
    height: 14%;
    &-photo {
      width: 5.2rem;
      height: 5.2rem;
      border-radius: 50%;
      margin-left: 2rem;
      margin-right: 2rem;
    }
    &-iconBox {
      display: flex;
      margin-left: -12rem;
      padding-bottom: 1rem;
    }
    &-icon {
      font-size: 2.5rem;
      color: rgba(161, 157, 157, 0.815);
      // margin-left: -5rem;
      margin-right: 2.3rem;
    }
  }
  &__write {
    display: flex;
    align-items: center;
  }

  &__input {
    width: 73rem;
    font-size: 1.5rem;
    color: rgba(88, 87, 87, 0.815);
    border: none;
    border-bottom: 1px solid rgba(126, 123, 123, 0.603);
    padding-bottom: 0.7rem;
    transition: all 0.2s;
    &:focus {
      outline: none;
      // color: #4680eb;
      border-bottom: 1px solid #4680eb;

      // background-color: #f4f2f2de;
      width: 75rem;
    }
  }
}

.user-greeting {
  @include box-shadow;
  background-color: whitesmoke;
  grid-row: col-start 2 / col-end 2;
  grid-column: content-start / content-end;
  color: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__post {
    background: url(../img/background2.jpg) no-repeat center center;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-icon {
      font-size: 2.5rem;
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      background-color: #4680eb;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: whitesmoke;
      margin-right: 1.5rem;
      // color: #4680eb;
      // margin-bottom: 1.5rem;
      // align-self: flex-end;
      margin-top: 2rem;
      margin-left: 2rem;
    }

    &-description {
      background-color: rgba(63, 62, 62, 0.544);
      padding: 1.5rem 2rem;
    }

    &-title {
      font-size: 3.5rem;
    }
    &-des {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    &-timeLine {
      font-size: 1.3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-like {
      font-size: 2rem;
    }
  }

  &__bottom {
    color: rgba(63, 62, 62, 0.671);

    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding:
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &-remind {
      font-size: 1.5rem;
      text-transform: uppercase;
    }
    &-icon {
      font-size: 1rem;
    }
  }
}
